<%
  # Partial for editing the items in a has_many relationship
  #
  # ==== Parameters
  #
  # model<DataMapper::Base>: the model to which the relationship belongs
  # 
  # association<DataMapper::Associations::HasManyAssociation>: the association that forms the
  #   basis for the relationship
  name = association[:name]
  key = association[:child_key].first
  assoc_model = MerbAdmin::Models.new( association[:child_model] )
%>

<dt><%= name.to_s.capitalize %></dt>
<dd>
  <% if through = association[:near_rel] %>
    <p>
      The <%= name %> association is a :through relationship defined through the
      <%= through %> relationship.
    </p>
  <% else %>
    <select name="object[<%= name %>][]" multiple="multiple">
      <% for obj in assoc_model.find_all(:limit => 10) %>
        <% selected = @object && @object.send( name ).include?( obj ) %>
        <option value="<%= obj.id %>"<%= ' selected="selected"' if selected %>>
          <%= model_title(obj) %>
        </option>
      <% end %>
    </select>
  <% end %>
</dd>