<%
  throw_content( :for_title, "All #{ @model.pretty_name }")
  # The number from which the order list begins counting
  start = 1 + 20 * ((params[:page] || '1').to_i - 1)
%>

<div id="content">
  <h2>
    All <%= @model.count %> <%= @model.pretty_name %>
    <a href="<%= url(:admin_model, @model.singular_name, 'new') %>">New</a></li>
  </h2>

  <ol start="<%#= start %>" class="models">
    <% for obj in @model.pages.page(params[:page]) -%>
      <li>
        <a href="<%= url(:admin_model, @model.singular_name, 'show', obj.id) %>">
          <%= obj.try(:name) || obj.try(:title) || "#{ obj.class.to_s } ##{ obj.id }" %>
        </a>
      </li>
    <% end %>
  </ol>

  <ul class="horizontal unlist pages">
    <li>Page:</li>
    <%
      page  = params[:page].to_i
      pages = (1..3).to_a + (page-2..page+2).to_a + (@model.pages.last.number-2..@model.pages.last.number).to_a
      pages = pages.select{ |p| p > 0 }.uniq.sort
      prev  = 0
    %>

    <% for p in pages %>
      <%= '<li>&hellip;</li>' if prev+1 != p %>
      <li>
        <a href="?page=<%= p %>"><%= p %></a>
      </li>
      <% prev = p %>
    <% end %>
  </ul>
</div>